{% extends 'base.html' %}
{% block title %}
    Chatroom
{% endblock %}

{% block main %}
    <section class="col-lg-3 border-1 border-end">
        <div class="p-0" id="room-list-container">
            <h6 class="text-secondary text-start ms-2 mt-2">Chat Rooms</h6>
            {% if sticky %}
                {% for room in sticky %}
                    <a href="/room/{{room.slug}}/">
                        <div class="border border-1 border-secondary-subtle rounded py-3 mt-2 mx-2 bg-white shadow-sm">
                            <h6 class="text-primary mb-0">{{room.title}}</h6>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
            {% if member %}
                {% for room in member %}
                    <a href="/room/{{room.slug}}/">
                        <div class="border border-1 border-secondary-subtle rounded py-3 mt-2 mx-2 bg-white shadow-sm">
                            <h6 class="text-warning mb-0">{{room.title}}</h6>
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="col-12 col-lg-6 d-flex flex-column flex-grow-1 pb-5 bg-white">
        <div class="flex-grow-1 d-flex flex-column px-2 pb-3" id="chat-log">
            {% for message in chat_messages %}
                {% if message.username == request.user.username %}
                    <div class="chat-room-message message-self align-self-end my-1 px-3 py-2 rounded bubble-{{message.color}}">
                        <div class="message-username text-end text-secondary">{{message.username}}</div>
                        <p class="mb-0 text-end">{{message.text}}</p>
                    </div>
                {% else %}
                    <div class="chat-room-message message-user align-self-start my-1 px-3 py-2 rounded bubble-{{message.color}}">
                        <div class="message-username text-start text-secondary">{{message.username}}</div>
                        <p class="mb-0 text-start">{{message.text}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="fixed-bottom container">
            <div class="col-lg-6 mx-auto bg-light py-2 px-3 d-flex rounded">
                <input class="form-control me-2" type="text" name="message" id="message" maxlength="280">
                <button class="btn btn-warning" id="submit">Send</button>
            </div>
        </div>
    </section>

    <section class="col-lg-3 border border-top-0 border-bottom-0">
        <table class="table table-hover mb-0" id="user-list-container">
            <thead>
                <tr>
                    <th class="col text-secondary text-start bg-secondary-subtle bg-gradient text-secondary">Online</th>
                </tr>
            </thead>
            <tbody id="user-list">

            </tbody>
        </table>
    </section>

    {{ chat_room.slug|json_script:"room-name" }}

    <script>
        const scrollToEnd = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }

        window.addEventListener('load', scrollToEnd);

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/room/${roomName}/`);

        const user = "{{request.user.username}}";
    
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.action == 'message') {
                const log = document.querySelector('#chat-log');

                if (data.user == user) {
                    log.innerHTML += `
                    <div class="message-self align-self-end my-1 px-3 py-2 rounded bubble-${data.color}">
                        <div class="message-username text-end">${data.user}</div>
                        <p class="mb-0 text-end">${data.message}</p>
                    </div>
                    `
                } else {
                    log.innerHTML += `
                    <div class="message-user align-self-start my-1 px-3 py-2 rounded bubble-${data.color}">
                        <div class="message-username text-start">${data.user}</div>
                        <p class="mb-0 text-start">${data.message}</p>
                    </div>
                    `
                }
                scrollToEnd();
            }

            if (data.action == 'users') {
                const userList = document.getElementById("user-list");
                userList.innerHTML = ''
                for (const u of data.connected_users) {
                    userList.innerHTML += `
                    <tr id="user-${u}">
                        <td><a href="/users/u/${u}/">${u}</a></td>
                    </tr>
                    `
                }
            }
        };
    
        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
        document.querySelector('#message').focus();
        document.querySelector('#message').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#submit').click();
            }
        };
    
        document.querySelector('#submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#message');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}