{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}

{% block main %}
    <form class="mx-auto" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h4 class="mt-4 mb-3">Login to Chat IRL</h4>
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        <input class="form-control w-auto mx-auto mb-2" type="email" name="email" id="email" placeholder="Account e-mail">
        <input class="form-control w-auto mx-auto mb-2" type="password" name="password" id="password" placeholder="Password">
        <input class="btn btn-primary mt-2" type="submit" value="Login">
    </form>
{% endblock %}