{% extends 'base.html' %}
{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <form class="mx-auto" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h4 class="mt-4 mb-3">Sign up for Chat IRL</h4>
        {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
        <input class="form-control w-auto mx-auto mb-2" type="email" name="email" id="email" placeholder="Enter your e-mail">
        <input class="form-control w-auto mx-auto mb-2" type="text" name="username" id="username" placeholder="Enter display name">
        <input class="form-control w-auto mx-auto mb-2" type="password" name="password1" id="password1" placeholder="Enter password">
        <input class="form-control w-auto mx-auto mb-2" type="password" name="password2" id="password2" placeholder="Re-enter password">
        <input class="btn btn-primary mt-2" type="submit" value="Register">
    </form>
{% endblock %}